*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

html, body{
  height: 100%;
}

:root{
  /* ## Colors */
  
  /* ### Primary */
  --LightCyan: hsl(193, 38%, 86%);
  --NeonGreen: #52ffa8;
  
  /* ### Neutral */
  
  --GrayishBlue: hsl(217, 19%, 38%);
  --DarkGrayishBlue: hsl(217, 19%, 24%);
  --DarkBlue: hsl(218, 23%, 16%);
}